@import url('https://fonts.googleapis.com/css?family=Lato:300');

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.911);
	color: #ffffff;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

/* .gifContainer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
} */

#gifContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-shrink: 0;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-image {
	width: 300px;
	cursor: pointer;
}

.gradient-border {
	--border-width: 3px;
	margin-top: 25px;
	margin-bottom: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 25px;
	font-family: Lato, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	background: #222;
	border-radius: var(--border-width);
	cursor: pointer;
}

.gradient-border::after {
	position: absolute;
	content: '';
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		hsl(224, 85%, 66%),
		hsl(269, 85%, 66%),
		hsl(314, 85%, 66%),
		hsl(359, 85%, 66%),
		hsl(44, 85%, 66%),
		hsl(89, 85%, 66%),
		hsl(134, 85%, 66%),
		hsl(179, 85%, 66%)
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: calc(2 * var(--border-width));
	animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

input[type='submit'] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type='text'] {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
